[Unit]
Description=Lancement Phosphobot au demarrage
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/heuzef
ExecStart=/usr/bin/env phosphobot run
Restart=on-failure
RestartSec=5
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target